#appContainer {
	text-align: center;
	padding-top: 3em;
	position: fixed;
	z-index: -3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: grey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.getToTheChoppaa {
	margin: 1em 0;
	text-shadow: 0px 1px 0px black;
}

.gifFrame {
	border-width: 2px;
	border-style: solid;
	border-color: white;
	/* box-shadow: 0px 1px 0px black; */
}